<ul id="tabs" class="nav nav-tabs" data-tabs='tabs'>
  <li class='active'>
    <a href="#details" data-toggle='tab'>Projects
    </a>
  </li>
  <li>
    <a href="#users" data-toggle='tab'>Users
    </a>
  </li>
  <li>
    <a href="#datasets" data-toggle='tab'>Datasets
    </a>
  </li>  
</ul>
