
<%= render :partial => 'form' %>
<div class="panel-body" id="team-details">
  <div class="row" id="team_show_tabs">
    <%= render "teams/show_team_tabs" %>
    <%= render "teams/show_team_tab_panels" %>
  </div>
</div>
