<div class="row">
  <div class='col-sm-10 col-sm-offset-1'>
    <h1>New CAS Application</h1>

    <%= bootstrap_form_for(@cas_application, horizontal: true) do |form| %>
      <%= form.error_and_warning_alert_boxes %>

      <%= render partial: 'form', locals: { form: form } %>

      <%= form.submit 'Create Application', class: 'btn btn-primary'%>
    <% end %>
  </div>
</div>
