<ul id="tabs" class="nav nav-tabs" data-tabs='tabs'>
  <li class='active'>
    <a href="#details" data-toggle='tab'>Project Details</a>
  </li>
  <li>
    <a href="#users" data-toggle='tab'>Users</a>
  </li>
  <li>
    <a href="#comments" data-toggle='tab'>
      Comments
    </a>
  </li>
  <li>
    <a href="#datasets" data-toggle="tab">Datasets</a>
  </li>
  <li>
    <a href="#timeline" data-toggle="tab">Timeline</a>
  </li>
  <li>
    <a href="#related" data-toggle="tab">Related</a>
  </li>
</ul>
