<ul id="tabs" class="nav nav-tabs" data-tabs='tabs'>
  <li class='active'>
    <a href="#details" data-toggle='tab'>Project Details</a>
  </li>
  <li>
    <a href="#users" data-toggle='tab'>Users</a>
  </li>
  <li>
    <a href="#comments" data-toggle='tab'>
      Comments
      <%= comments_count_badge_for(project, sub_resource_counts.fetch(:comments, 0)) %>
    </a>
  </li>

  <% if can?(:read, Communication) %>
    <%= tab_to Communication.model_name.human.pluralize, '#communications', count: sub_resource_counts.fetch(:communications, 0), data: { toggle: :tab } %>
  <% end %>

  <li>
    <a href="#datasets" data-toggle="tab">Datasets</a>
  </li>
  <li>
    <a href="#timeline" data-toggle="tab">Timeline</a>
  </li>
  <li>
    <a href="#related" data-toggle="tab">Related</a>
  </li>
</ul>
