<% if can?(:approve, @project) %>
  <div class="pull-right">
    <div class="btn-group" role="group">
      <%= button_to 'Approve All', project_project_nodes_bulk_approval_path(project), class: 'btn btn-success btn-sm', remote: true %>
    </div>
    <div class="btn-group" role="group">
      <%= link_to 'Reject All', new_project_project_nodes_bulk_rejection_path(project), remote: true, class: 'btn btn-danger btn-sm' %>
    </div>
    <div class="btn-group" role="group">
      <%= button_to 'X', project_project_nodes_bulk_approval_path(project), method: :delete, remote: true, class: 'btn btn-default btn-sm', title: 'Undo', rel: 'tooltip', data: { placement: 'left', container: 'body' } %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  jQuery('a').tooltip();
</script>
