<ul id="tabs" class="nav nav-tabs" data-tabs='tabs'>
  <li class='active'>
    <a href="#awaiting_approval" data-toggle='tab'>Awaiting Approval</a>
  </li>
  <li>
    <a href="#awaiting_account_approval" data-toggle='tab'>Awaiting Account Approval</a>
  </li>
</ul>
