<div id='requested_project_dataset_levels_table'>
  <% if ProjectDatasetLevel.by_status_id(project, 1).any? %>
    <%= render partial: '/project_dataset_levels/approval_table', locals: { project_dataset_levels: ProjectDatasetLevel.by_status_id(project, 1), status: 'Requested' } %>
  <% end %>
</div>
<div id='approved_project_dataset_levels_table'>
  <% if ProjectDatasetLevel.by_status_id(project, [2, 4]).any? %>
    <%= render partial: '/project_dataset_levels/approval_table', locals: { project_dataset_levels: ProjectDatasetLevel.by_status_id(project, [2, 4]), status: 'Approved' } %>
  <% end %>
</div>

<div id='rejected_project_dataset_levels_table'>
  <% if ProjectDatasetLevel.by_status_id(project, 3).any? %>
    <%= render partial: '/project_dataset_levels/approval_table', locals: { project_dataset_levels: ProjectDatasetLevel.by_status_id(project, 3), status: 'Rejected' } %>
  <% end %>
</div>

<div id='closed_project_dataset_levels_table'>
  <% if ProjectDatasetLevel.by_status_id(project, 5).any? %>
    <%= render partial: '/project_dataset_levels/approval_table', locals: { project_dataset_levels: ProjectDatasetLevel.by_status_id(project, 5), status: 'Closed' } %>
  <% end %>
</div>
