<%
  model = project.current_project_state.assignments.build(assigned_user: project.temporally_assigned_user)
  url   = workflow_project_state_assignments_path(project.current_project_state)

  assignable_users = project.current_project_state.assignable_users
%>

<%= form_with model: model, url: url, scope: :assignment, class: 'form-inline' do |form| %>
  <div class="form-group">
    <%= form.label :assigned_user_id %>
    <%= form.collection_select :assigned_user_id, assignable_users, :id, :full_name, { include_blank: true, disabled: project.temporally_assigned_user&.id }, class: 'form-control' %>
  </div>
  <%= form.submit 'Apply', class: 'btn btn-default' %>
<% end %>
