<div class="tab-pane" id="datasets">
  <div class="panel panel-default" style="border-top: 0px;">
    <div class="panel-heading">
      <span style="font-size: 1.5em;">Datasets</span>
      <div id="approve_level_2_3_default_datasets" class="pull-right">
        <% if project.user_approvable_levels_pending?(current_user) %>
          <%= button_to 'Approve level 2 and 3 default datasets', project_dataset_levels_bulk_approvals_project_path(project), method: :patch, remote: true, class: 'btn btn-success' %>
        <% end %>
      </div>
      <div id="request_renewal_level_2_3_defaults" class="pull-right">
        <% if project.level_2_3_defaults_expiring?(current_user) %>
          <%= button_to 'Renew level 2 and 3 defaults datasets', project_dataset_levels_bulk_renewal_requests_project_path(project), method: :patch, remote: true %>
        <% end %>
      </div>
      <div class="pull-right">
        <%= edit_link project, class: 'btn btn-default', text: true, path: edit_project_path(project, anchor: 'multi_project_datasets') %>
      </div>
    </div>
  </div>

  <div id="cas_project_dataset_levels_tables">
    <%= render partial: '/projects/cas_project_dataset_levels', locals: { project: project } %>
  </div>
</div>
