<%
  # TODO: Remove me once `project_comments` fully retired.
  project ||= @project
%>

<div id='project_comment_information'>
  <div class="panel panel-default" style="border-top:0px">
    <div class="panel-heading" style="border-top:0px">
      Comments
    </div>
  </div>

  <%= async_content_tag(:div, polymorphic_path([project, :comments])) do %>
    <strong>Loading...</strong>
  <% end %>
</div>
