<div class='row form-group'>
  <label class="control-label col-md-3" for="project_start_date">Start Date</label>
  <div class='col-md-3'>
      <%= form.text_field :start_data_date, data: { provide: 'datepicker'} %>
  </div>
  <label class="control-label col-md-3" for="project_end_date">End Date</label>
  <div class='col-md-3'>
      <%= form.text_field :end_data_date, data: { provide: 'datepicker' } %>
  </div>
</div>
