<div class="tab-pane" id="datasets">
  <div class="panel panel-default" style="border-top: 0px;">
    <div class="panel-heading">
      <span style="font-size: 1.5em;">Datasets</span>
      <div class="pull-right">
        <%= edit_link project, class: 'btn btn-default', text: true, path: edit_project_path(project, anchor: 'multi_project_datasets') %>
      </div>
    </div>
  </div>

  <div id="cas_project_dataset_levels_tables">
    <%= render partial: '/projects/cas_project_dataset_levels', locals: { project: project } %>
  </div>
</div>
