<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <button type="button" class="btn btn-primary btn-xs collapsed" data-toggle="collapse" data-target="#project_search_content" aria-expanded="false" aria-controls="project_search_content">
            <%= bootstrap_icon_tag('eye-open') %>
            <%= bootstrap_icon_tag('eye-close') %>
          </button>
          Search
        </h4>

      </div>
      <div class="collapse" id="project_search_content">
        <div class="panel-body">
          <%= content_for(:search) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <%= yield %>
  </div>
</div>
