<div class="row">
  <div class='col-sm-1'></div>
  <div class='col-sm-10'>
  	<h1><%= "Edit #{@project.project_type_name}: #{@project.name}" %></h1>
  </div>
</div>

<div class="row">
  <div class='col-sm-1'></div>
  <div class='col-sm-10'>
    <div data-controller="project">
      <%= render "projects/#{@project.project_type_name.downcase}/form" %>
    </div>
  </div>
</div>
