development:
  :address: smtp.live.com
  :port: 587
  :domain: example.com
  :user_name: test@test.com 
  :password: xxxxxxx
  :authentication: plain
  :enable_starttls_auto: true

test:
  :address: send.nhs.net
  :port: 587
  :domain: nhs.uk
  :user_name: test@nhs.net
  :password: GOES_HERE
  :authentication: :login
  :enable_starttls_auto: true

production:
  :address: send.nhs.net
  :port: 587
  :domain: nhs.uk
  :user_name: <%= ENV['SMTP_USERNAME'] %>
  :password: <%= ENV['SMTP_PASSWORD'] %>
  :authentication: :login
  :enable_starttls_auto: true
