<fieldset>
  <%= content_tag :p, t('.extra_datasets_note') %>
  <%= form.label :extra_datasets %>
  <% readonly_value = @project.dataset_names.any? ? safe_join(@project.dataset_names, raw('<br />')) : 'Unknown' %>
  <%= form.collection_check_boxes(:dataset_ids, Dataset.cas, :id, :name, readonly_value: readonly_value) do |b| %>
    <div class="checkbox">
      <%= b.label { b.check_box + b.text } %>
    </div>
  <% end %>
</fieldset>
