<ul id="tabs" class="nav nav-tabs" data-tabs='tabs'>
  <li class='active'>
    <a href="#details" data-toggle='tab'>Project Details</a>
  </li>
  <li>
    <a href="#datasets" data-toggle="tab">Datasets</a>
  </li>
  <%= tab_to ProjectAmendment.model_name.human.pluralize, '#amendments', count: @project.project_amendments.count, data: { toggle: :tab } %>
  <li>
    <a href="#comments" data-toggle='tab'>
      Comments
    </a>
  </li>
  <li>
    <a href="#timeline" data-toggle="tab">Timeline</a>
  </li>
</ul>
