<ul id="tabs" class="nav nav-tabs" data-tabs='tabs'>
  <li class='active'>
    <a href="#details" data-toggle='tab'>Project Details</a>
  </li>
  <li>
    <a href="#datasets" data-toggle="tab">Datasets</a>
  </li>
  <li>
    <a href="#comments" data-toggle='tab'>
      Comments
      <%= comments_count_badge_for(project, sub_resource_counts.fetch(:comments, 0)) %>
    </a>
  </li>
  <li>
    <a href="#timeline" data-toggle="tab">Timeline</a>
  </li>
</ul>
