<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  	 <%= bootstrap_panel_tag(capture { %>
      <h3 class="panel-title clearfix">Please accept Terms and Conditions before proceeding</h3>
    <% }) do %>
      <div class="panel-body" style="padding-top:8px;padding-bottom:30px">
        <%= CONTENT_TEMPLATES["terms_and_conditions_message"]['body'].html_safe %>
      </div>
      <div class="panel-footer" style="padding-top:8px;padding-bottom:8px">
        <div class="row">
          <% if accepted_terms_and_conditions? %>
            Terms and Conditions have been accepted
          <% else %>
            <div class="col-md-12 text-right">
              <%= link_to 'Reject', terms_rejected_path, :class => 'btn btn-sm' %>
              <%= link_to 'Accept', terms_and_conditions_path, :class => 'btn btn-sm btn-primary', method: :post %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

