#project_header {
  dl.dl-horizontal {
    dt {
      text-align: inherit;
    }

    dd {
      margin-left: inherit;
    }
  }

  dl:last-child {
    margin-bottom: 0;
  }

  form {
    margin-bottom: 10px;

    label {
      min-width: 150px;
      max-width: 350px;
    }

    select.form-control {
      width: 220px;
    }
  }
}

.project [data-controller="pdf-import"] {
  margin-bottom: 20px;
}

#projects-panel [data-controller="pdf-import"] {
  margin-bottom: 0px;
}

#cas_approvals {
  #project_search_form {
    label[for="search_application_log"],
    input[name="search[application_log]"] {
      display: none;
    }
  }
}
