#project_header {
  dl.dl-horizontal {
    dt {
      text-align: inherit;
    }

    dd {
      margin-left: inherit;
    }
  }

  dl:last-child {
    margin-bottom: 0;
  }

  form {
    margin-bottom: 10px;

    label {
      min-width: 150px;
      max-width: 350px;
    }

    select.form-control {
      width: 220px;
    }
  }
}

.related_project {
  summary {
    margin-bottom: 8px;
  }

  dl {
    dt {
      display: inline;
    }

    dt::after {
      content: ':'
    }

    dd {
      display: inline;
    }
  }
}

.project [data-controller="pdf-import"] {
  margin-bottom: 20px;
}

.project {
  td.no-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
  }
}

#projects-panel [data-controller="pdf-import"] {
  margin-bottom: 0px;
}

.dataset_highlight{
  background-color: #ADD8E6;
}

#cas_approvals {
  #project_search_form {
    label[for="search_application_log"],
    input[name="search[application_log]"] {
      display: none;
    }
  }
}
