<table class="table" id="users_table">
  <thead>
    <tr>
      <th>User</th>
      <th>Comment</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% data_item.project_comments.order('updated_at DESC').each do |comment| %>
      <tr>
        <td><%= comment.user_email %></td>
        <td><%= comment.comment %></td>
        <td><%= timeago_tag(comment.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>