<h1>CAS Access Approved</h1>
<hr />

<p>
  Your CAS access has been approved for application <%= @project.id %>. You will receive
  a further email once your account has been updated
</p>

<p>
  Please <%= link_to 'log in', root_url %> to view the CAS application.
</p>
