<h1>CAS Access Status Updated</h1>
<hr />

<p>
  CAS application <%= @project.id %> - Access has been granted by
  the helpdesk and the applicant now has CAS access
</p>

<%= render 'projects_mailer/project_details', project: @project %>

<p>
  Please <%= link_to 'log in', root_url %> and use the link above to view the
  CAS application.
</p>
