<h1>CAS Access Rejected</h1>
<hr />

<p>
  Your CAS access has been rejected for application <%= @project.id %>.
</p>

<p>
  Please <%= link_to 'log in', root_url %> to view the CAS application.
</p>
