<h1>CAS Account Closed</h1>
<hr />

<p>
  Your CAS account has been closed. If you still require access please re-apply
  using your existing application by clicking the 'return to draft' button.
</p>

<p>
  Please <%= link_to 'log in', root_url %> to view the CAS application.
</p>
