<h1>CAS Account Renewed With Access to Dataset</h1>
<hr />

<p>
CAS account <%= @project.id %> has been renewed. This account has access to one or more datasets that you
are an approver for.
</p>

<p>
  Please <%= link_to 'log in', root_url %> to view the CAS application.
</p>
