<h1>CAS Application Submitted</h1>
<hr />

<p>
  CAS application <%= @project.id %> has been submitted.'
</p>

<%= render 'projects_mailer/project_details', project: @project %>

<p>
  Please <%= link_to 'log in', root_url %> and use the link above to view the
  CAS application.
</p>
