<h1>Dataset Approval Updated</h1>
<hr />

<p>
  Your CAS dataset access request for '<%= @project_dataset.dataset_name %>' has been
  updated to Approval status of '<%= @project_dataset.readable_approved_status %>'.
</p>

<p>
  Please <%= link_to 'log in', root_url %> to view the CAS application.
</p>
