<h1>Dataset Approval Level Updated</h1>
<hr />

<p>
Your CAS dataset access request for '<%= @load_project_dataset_level.project_dataset.dataset_name %>' has been
updated to Approval status of '<%= @load_project_dataset_level.readable_approved_status %>' for level
<%= @load_project_dataset_level.access_level_id %> access.
</p>

<p>
  Please <%= link_to 'log in', root_url %> to view the CAS application.
</p>
