<h1>CAS Access Requires Renewal</h1>
<hr />

<p>
  Your CAS account requires renewal, please click the renew button on your application.
</p>

<p>
  Please <%= link_to 'log in', root_url %> to view the CAS application.
</p>
