<h1>CAS Access Urgently Requires Renewal</h1>
<hr />

<p>
  Your access to CAS needs to be renewed, please <%= link_to 'log in', root_url %> to confirm
  renewal. If you have not renewed within 15 days your access will be removed and you will need to
  contact Beatrice Coker to reapply.
</p>